aside {
	height: 100%;
	text-wrap: nowrap;
	text-align: center;
}
#search-filters {
	display: flex;
	flex-direction: column;
}
.filter-option {
	font-size: 20px;
	background-color: var(--button-blue);
}
.active {
	background-color: var(--button-active);
}

#search-box {
	height: 40px;
	background-color: transparent;
	image-rendering: pixelated;
}

#search-input {
	width: 100%;
	padding: 0 5px;
	margin-left: 5px;
	font-size: 28px;
	background-color: transparent;
}

#search-results {
	overflow: scroll;
	margin-top: 25px;
}

.product-item {
	margin-bottom: 25px;
	display: flex;
}
.image-button-container {
	width: 70px;
	display: flex;
	flex-direction: column;
}
.image-container {
	overflow: scroll;
	border: #333 solid;
}
.product-item img {
	height: 64px;
	width: fit-content;
	image-rendering: pixelated;
}
.product-item__button {
	background-color: var(--button-blue);
	font-size: 24px;
	height: 32px;
	border-radius: 10px;
	margin-top: 4px;
}

.name-description-container {
	margin-left: 8px;
	width: 100%;
}
.name-type-container {
	display: flex;
	align-items: baseline;
	gap: 8px;
	border-bottom: #a88b5e solid;
}
/* .product-item__name {
} */
.product-item__type {
	color: #c8c8c8;
}

.product-item__description {
	color: #c8c8c8;
	font-size: 22px;
	text-wrap-style:balance;
}

footer {
	background-color: darkred;
}

@media only screen and (max-width:700px) {
	#main-container,#header-container {
		flex-direction: column;
	}
	#main-container {
		padding: 0 12px;
	}
	#header-container {
		padding: 8px 0;
		}
	aside {
		display: none;
	}
}