@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&display=swap');

/* SHARED */
* {
	margin: 0px;
	padding: 0px;
	font-family: "Jersey 15", sans-serif;
	color: white;
}
:root {
	--red: #b50f1d;
	--button-blue: #464966;
	--button-active: #3e6c45;
}

.font-mono {
	font-family: monospace;
	font-size: 18px;
}
.font-20 {
	font-size: 20px;
}
.font-22 {
	font-size: 22px;
}
.font-24 {
	font-size: 24px;
}

.angle-rect {
	--angle-rect-clip-size: 16px;
	clip-path: polygon(0 0,calc(100% - var(--angle-rect-clip-size)) 0,100% var(--angle-rect-clip-size),100% 100%,var(--angle-rect-clip-size) 100%,0 calc(100% - var(--angle-rect-clip-size)));
}

.height40 {
	height: 40px;
}

.column-flex {
	display: flex;
	flex-direction: column;
}

.two-columns {
	display: flex;
	gap: 24px;
}

.btn {
	background-color: var(--button-blue);
}

.active {
	background-color: var(--button-active);
}

.background {
	background: url("/img/background/lavaland.jpg") fixed center no-repeat;
	background-size: cover;
}

.glass-bg {
	background-color: #0f0f0fb3;
	backdrop-filter: blur(8px);	
}

html {
	background-color: black;
}

header a {
	text-decoration: none;
}
header a:link {
	color: white;
}
header a:visited {
	color: white;
}
header a:hover {
	color: #cb0000;
}

header {
	background-color: #000;
	border-bottom: var(--red) solid;
	overflow: hidden;
}

#header-container {
	padding: 2px 24px;
	display: flex;
	justify-content: space-between;
}
#header-logo {
	line-height: 0px;
}

nav {
	text-align: center;
	display: flex;
	align-items: center;
	gap: 30px;
}

#main-container,#header-container {
	max-width: 1100px;
	margin: auto;
}

#main-container {
	padding: 16px 24px 0 24px;
	min-height: 100vh;
}

/* ACCOUNT */
#login-box {
	max-width: 300px;
	padding: 25px 12px;
	margin: auto;
	margin-top: 10vh;
}

#login-form {
	gap:3px;
	display: flex;
	flex-direction: column;
}

#uname {
	color: black;
}

#submit {
	padding: 2px 8px;
	background-color: #000;
  	color: #5e5e5e;
	align-self: center;
}

.red-active {
	background-color: #d00012 !important;
	color: #fff !important;
}

#not-responsible {
	color: #979797;
	text-wrap-style: balance;
}

/* SHOP */
#filters-container {
	align-self: start;
	position: sticky;
	top: 0px;
	text-wrap: nowrap;
	text-align: center;
}

.filter-option {
	height: 30px;
}

#search-container {
	width:100%;
}

#search-box {
	height: 40px;
	display: flex;
	image-rendering: pixelated;
}

#search-input {
	border: var(--red) solid;
	width: 100%;
	padding: 0 5px;
	margin-left: 5px;
	font-size: 28px;
	background-color: black;
}

#collapse-filters {
	height: 100%;
	width: 150px;
	display: none;
}

#search-results {
	overflow: scroll;
	margin-top: 25px;
	height: 100vh;
}

.product-item {
	margin-bottom: 25px;
	display: flex;
}
.image-button-container {
	width: 70px;
	display: flex;
	flex-direction: column;
}
.image-container {
	width: 64px;
	overflow: scroll;
	border: #333 solid;
}
.product-item__img {
	height: 64px;
	image-rendering: pixelated;
}
.product-item__button {
	background-color: var(--button-blue);
	height: 32px;
	border-radius: 10px;
	margin-top: 4px;
}

.name-description-container {
	margin-left: 8px;
	width: 100%;
}
.name-type-container {
	display: flex;
	align-items: baseline;
	gap: 8px;
	border-bottom: #a88b5e solid;
}
.product-item__type {
	color: #c8c8c8;
}
.product-item__description {
	color: #c8c8c8;
	text-wrap-style:balance;
}

footer {
	background-color: darkred;
}

/* CART */
#filled-cart {
	display: flex;
}

#table {
	text-align: center;
}

th, td {
	padding: 0 10px;
}

.amount-container {
	display: flex;
	justify-content: space-evenly;
}

/* ADAPTIVE */	

@media only screen and (max-width:700px) {
	#main-container,#header-container {
		padding-left: 12px;
		padding-right: 12px;
	}
	.filter-option {
		height: 40px;
	}
	#collapse-filters {
		display: block;
	}
	#filters-container {
		position: absolute;
		top: 56px;
		right: 12px;
		z-index: 1;
	}
	#filters-container h1, #search-filters {
		display: none;
	}
}